<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Second-Breath PHP5 framework</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <meta name="keywords" content="second-breath, php5 framework, framework, second-breath framework, micro framework, mini framework, фреймворк, маленький php фреймворк, мини фреймворк, второе дыхание" />
        <meta name="description" content="Маленький и быстрый Second-Breath PHP 5.3+ framework" />
        <meta name="author" content="Тищенко Александр" />
        <meta name="copyright" content="Copyright &copy; 2013 by Alexander Tishchenko" />
        <meta name='yandex-verification' content='43212c81507c2a37' />
        <meta name="wot-verification" content="09366a5a3a2075818b95" />
        <meta name="openstat-verification" content="37d310f8b3f8b1084ade7dfa4872bce2977041e1" />
        
        <script src="<?=$common_url?>/Js/jquery-2.1.3.min.js"></script>
        <script src="<?=$common_url?>/Js/jquery-ui/jquery-ui.min.js"></script>
        <script src="<?=$base_url?>/plugins/common.js"></script>
        
        <link href="<?=$css_url?>/style.css" rel="stylesheet" />
        <link href="<?=$common_url?>/Js/jquery-ui/jquery-ui.css" rel="stylesheet" />
        <link href="<?=$common_url?>/Css/jquery-ui-custom.css" rel="stylesheet" />
        
    </head>
<body>
    <div id="content" class="content">
        <?=$content?>
    
        <hr />
        <?php if( !empty($auth_user['nicname']) ) { ?>User: <?=$auth_user['nicname']?> [<a href="<?=make_url('index/auth/logout')?>">Logout</a>], <?php } ?>
        <!-- DEBUG-INFO -->
    
    </div>
    <div class="footer"></div>
</body>
</html>