    <div class="feedback-form authorization-form">
    	<form id="<?=$Form->id?>" method="POST" action="<?=$Form->action?>" accept-charset="UTF-8">
            <input type="hidden" name="confirm" value="ok" />

            <?php if( !empty($auth_error) ): ?>
            <div style="font-weight: bold; color: red; margin: 0 auto; text-align: center; cursor: pointer;" onclick="$(this).remove()"><?=sb_ucfirst( $I18n->auth_error )?></div>
            <?php endif; ?>
            
	        <fieldset>
                <div>
                    <?php if($Form->fields->email->message): ?>
                    <label style="color: red;" title="<?=$Form->fields->email->message?>"><?=sb_ucfirst( $I18n->login )?></label>
                    <?php else: ?>
                    <label><?=sb_ucfirst( $I18n->login )?></label>
                    <?php endif; ?>

                    <input type="text" name="form[email]" value="<?=$Form->fields->email->value?>" maxlength="<?=$Form->fields->email->maxlength?>" tabindex="1" />
                </div>

                <div>
                    <?php if($Form->fields->password->message): ?>
                    <label style="color: red;" title="<?=$Form->fields->password->message?>"><?=sb_ucfirst( $I18n->password )?></label>
                    <?php else: ?>
                    <label><?=sb_ucfirst( $I18n->password )?></label>
                    <?php endif; ?>

                    <input type="password" name="form[password]" maxlength="<?=$Form->fields->password->maxlength?>" tabindex="2" />
                </div>

                <div class="clearfix"></div>
                
                <button class="form-button" id="auth-button-submit" type="button" style="float: right;"><?=sb_ucfirst( $I18n->enter )?></button>

                <div class="clearfix"></div>
		    </fieldset>
	    </form>
    </div>

<script language="JavaScript" type="text/javascript">
if( typeof(jQuery) != 'undefined'  ) {
    $('#auth-button-submit')
        .button()
        .click( function(){
            $sb.request('<?=$Form->action?>', '#authorization-form-block', $('#<?=$Form->id?>').serialize());
        });
}
</script>
