var $sb = {
    
    url   : '<?=$base_url?>',
    images: '<?=$images_url?>',
    css   : '<?=$css_url?>',

    modules: { <?=$modules_lst?> },
    plugins: { <?=$plugins_lst?> },
    
    pre: { now: new Date(), stamp: function(){ return $sb.pre.now.getTime(); }},

    common: {
        url   : '<?=$common_url?>',
        css   : '<?=$common_url?>/Css',
        js    : '<?=$common_url?>/Js',
        images: '<?=$common_url?>/Images',
        media : '<?=$common_url?>/Media'
    },
    
    empty: function(mixed_var) { 
        if( mixed_var === "" || mixed_var === 0 || mixed_var === "0" || mixed_var === null || mixed_var === false || ( $sb.is_array(mixed_var) && mixed_var.length === 0 ) ) { return true; } 
        return false;
    },
    
    is_array: function(mixed_var) { return ( mixed_var instanceof Array ); },
    implode: function(glue, pieces) { return ((pieces instanceof Array) ? pieces.join(glue) : pieces); },

    is_url: function(url) {
        var RegExp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        if( RegExp.test(url) ) { return true; }
        return false;
    },
    
    is_email: function(email) {
        var RegExp = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if( RegExp.test(email) ) { return true; }
        return false;
    },
    
    is_exists: function(selector) {
        if( $(selector).length ) {
            return true;
        }
        
        return false;
    },
    
    preloader: function(sel) {
        if( typeof(jQuery) != 'undefined' && jQuery != ''  ) {
            var now = new Date();
            jQuery(sel).html('<div id="sb-ajax-preloader" style="margin: 0 auto; width: 20px; height: 12px; padding: 5px;"><img id="sb-ajax-preloader-image" src="'+$sb.common.images+'/ajax-loader.gif" style="margin: 0 auto; width: 20px; height: 12px;" /></div>');
        }
    },

    function_exists: function( function_name ) {
        if( typeof function_name == 'string' ) { return ( typeof window[function_name] == 'function' );} 
        else { return ( function_name instanceof Function );}
    },

    call_user_func: function (cb) { if( typeof(cb) === 'string' && cb != '' && $sb.function_exists(cb) ) { var func = cb + "();"; eval(func);}},    
    
    redirect: function(url) {
        if( typeof(url) != 'undefined' && url != '' && $sb.is_url(url) == true ) { window.location.href = url;} 
        else { console.log('Incorrect URL redirection: ' + url);}
    },

    confirm: function(msg, title, callback) {
        if( typeof(jQuery.fn.dialog) == 'undefined' ) {
            console.log('$sb.confirm require jQuery UI');
            if( confirm(msg) ) { callback(); return true;}
            return false;
        }
    
        if( typeof(callback) != 'function' ) { console.log('$sb.confirm: incorrect callback'); return false;}
        if( typeof(title) == 'undefined' || title == '' ) { title = 'Are you sure?'; }
        
        jQuery('body').append('<div id="sb-confirm-box-dialog" style="display: none;">'+msg+'</div>');
        jQuery('#sb-confirm-box-dialog').dialog({
            close: function(){ jQuery('#sb-confirm-box-dialog').remove(); }, modal: true, resizable: false, title: title,
            buttons: {'<?=$I18n->no?>': function() { jQuery(this).dialog("close");},'<?=$I18n->yes?>': function() { callback(); jQuery(this).dialog("close");}}
        });
    },

    /* Message box with callback function */
    message: function(msg, title, params) {
        if( typeof(title) == 'undefined' || title == '' ) { title = 'Attention!';}
        if( typeof(params) != 'object' ) { params = { width: 300, height: 150 }}
        if( typeof(params.width) == 'undefined' || params.width ==  "" ) params.width = 300;
        if( typeof(params.height) == 'undefined' || params.height ==  "" ) params.height = 300;
        
        if( typeof(jQuery.fn.dialog) == 'undefined' ) { console.log('$sb.message require jQuery UI'); alert( msg );} 
        else {
            jQuery('body').append('<div id="sb-message-box-dialog" style="display: none;">'+msg+'</div>');
            jQuery('#sb-message-box-dialog').dialog({
                close: function(){ jQuery('#sb-message-box-dialog').remove(); },
                width: params.width,
                height: params.height,
                modal: true,
                resizable: false,
                title: title,
                buttons: { OK: function() { jQuery(this).dialog("close"); }}
            });
        }
    },
    
    preloader: function(sel) {
        if( typeof(jQuery) != 'undefined' && jQuery != ''  ) {
            var now = new Date();

            jQuery(sel).html(
                '<div id="ajax-preloader" style="margin: 0 auto; width: 20px; height: 12px; padding: 5px;">'+
                '<img id="ajax-preloader-image" src="<?=$common_url?>/Images/ajax-loader.gif" style="margin: 0 auto; width: 20px; height: 12px;" title="Загрузка данных ..." />'+
                '</div>'
            );
        }
    },
    
    ajax: function(url, callback, params, type) {
        if( typeof(jQuery) != 'undefined' && jQuery != '' ) {
            if( typeof(url) == 'undefined' || url == '' ) { return false;}
            if( typeof(params) == 'undefined' || $sb.empty(params) ) { 
                params = { timer: $sb.pre.stamp() }; 
            }
            if( typeof(type) == 'undefined' || type == '' ) { type = 'html'; }

            jQuery.ajax({ 
                type: 'POST', data: params, dataType: type, url: url, 
                success: function(result){ if( typeof(callback) == 'function' ) callback(result);}, 
                headers: {'X-Response-Type': type,'X-Request-Type': 'Expedited'},
                error: function(jqXHR, textStatus, errorThrown) { 
                    if( typeof(console) != 'undefined' && typeof(console) != '' ) { console.log('Request $sb.ajax to `'+url+'` returned an error');}
                    else { $sb.message('Request $sb.ajax to `'+url+'` returned an error: <i>"'+textStatus+'"</i>', jqXHR.status); }
                },
                timeout: function() { 
                    if( typeof(console) != 'undefined' && typeof(console) != '' ) { console.log('Request $sb.ajax to `'+url+'` has timed out');}
                    else { $sb.message('Request $sb.ajax to `'+url+'` has timed out'); }
                } 
            });
            return true;
        }
        return false;
    },
    
    request: function(url, element_id, params, preloader) {
        if( typeof(jQuery) != 'undefined' && jQuery != '' ) {
            if( typeof(url) == 'undefined' || url == '' ) { return false;}
            if( typeof(preloader) == 'undefined' || preloader == '' ) { preloader = true;}
            if( typeof(params) == 'undefined' || params == '' ) { params  = {timer: $sb.pre.stamp()};}

            jQuery.ajax({
                type: 'POST', data: params, dataType: 'html', cache: false, timeout: 60000,
                url: url, headers: {'X-Response-Type': 'html','X-Request-Type': 'Expedited'},
                beforeSend: function() {
                    if( typeof(element_id) != 'undefined' && element_id != '' && preloader == true ) {
                        $sb.preloader(element_id);
                    }
                },
                success: function(result) {
                    if( typeof(element_id) != 'undefined' && element_id != '' ) { jQuery(element_id).html(result); }
                },
                error: function( jqXHR, textStatus, errorThrown) {
                    if( typeof(console) != 'undefined' && typeof(console) != '' ) { console.log('Request $sb.ajax to `'+url+'` returned an error');}
                    if( typeof($sb.message) == 'undefined' ) { alert('Request $sb.ajax to `'+url+'` returned an error: '+jqXHR.status+', '+textStatus); }
                    else { $sb.message('Request $sb.ajax to `'+url+'` returned an error: <i>"'+textStatus+'"</i>', jqXHR.status); }
                }
            });
            return true;
        }
        return false;
    }
}

if( typeof(jQuery) != 'function' ) {
    alert( 'Need jQuery...' );
}