<div class="full_w">
    <div class="h_title">Редактирование страниц</div>

    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
        sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea 
        rebum. Stet clita kasd gubergren, no sea takim
    </p>

    <div class="entry">
        <div class="sep"></div>
    </div>
    
    
    <div>
        <form id="acp_pages_new_form">

            <div class="element" style="padding: 0; width: 98%;">
                <label for="acp_pages_new_form_title">Title <span class="red">(required)</span></label>
                <input id="acp_pages_new_form_title" name="form[title]" class="text" />
            </div>

            <div class="element" style="padding: 0; width: 98%;">
                <label for="acp_pages_new_form_alias">Alias <span class="red">(required)</span></label>
                <input id="acp_pages_new_form_alias" name="form[alias]" class="text err" />
            </div>
            
            <div class="element" style="padding: 0; width: 98%">
                <label for="acp_pages_new_form_desc">Description</label>
                <input id="acp_pages_new_form_desc" name="form[desc]" class="text" />
            </div>
            
            <div class="element" style="padding: 0; width: 98%">
                <label for="acp_pages_new_form_keywords">Keywords</label>
                <input id="acp_pages_new_form_keywords" name="form[keywords]" class="text" />
            </div>

            <div class="element">
                <label style="vertical-align: middle;">
                    <input id="acp_pages_new_form_default" name="form[default]" value="1" type="checkbox" /> 
                    Set as default
                </label>
            </div>

            
            <br />
            
            <textarea style="width: 98%;" id="acp_pages_new_form_content" name="form[content]"></textarea>
        </form>
        
        <script src="<?=$common_url?>/Js/tinymce/jquery.tinymce.js"></script>
        <script type="text/javascript">
        $(function(){
            $('#acp_pages_new_form_content').tinymce({
                script_url: '<?=$common_url?>/Js/tinymce/tiny_mce.js',
                plugins: "spellchecker,pagebreak,style,layer,table,advhr,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
                mode: "textareas",
                theme: "advanced",
                content_css: "<?=$self_module->url?>/pages/getthemecss",
                convert_urls: false,
                body_id: 'content',
                body_class: 'content',

                theme_advanced_toolbar_location : "top",
                theme_advanced_toolbar_align : "left",
                theme_advanced_statusbar_location : "bottom",
                
                theme_advanced_buttons1: "newdocument,|cut,copy,paste,pastetext,pasteword,|,search,replace,undo,redo,|,tablecontrols,|,cleanup,code,preview",
                theme_advanced_buttons2: "bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,|,forecolor,backcolor",
                theme_advanced_buttons3: "hr,removeformat,|,insertdate,inserttime,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,anchor,image,code,charmap",
                theme_advanced_buttons4: "",

                external_image_list_url: "<?=$self_module->url?>/pages/getimages",
        //        external_link_list_url : "{$self_module->action_url}/pages/getlinks",
        //        media_external_list_url : "lists/media_list.js",
                
                scrollbars: "yes",
                language: "ru",
                width: "99%",
                height: "450"
                
            });
        });
        </script>
        
    </div>
</div>
