<div class="full_w">
    <div class="h_title">Редактирование страниц</div>

    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
        sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea 
        rebum. Stet clita kasd gubergren, no sea takim
    </p>

    <div class="entry">
        <div class="sep"></div>
    </div>
    
    <?php if( !empty($pages) ): ?>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Alias</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col" style="width: 65px;">Modify</th>
            </tr>
        </thead>
            
        <tbody>
            <?php foreach($pages as $key=>$val): ?>
            <tr>
                <td class="align-center"><?=$val['id']?></td>
                <td><?=$val['alias']?></td>
                <td><?=$val['title']?></td>
                <td class="align-center"><?=date('d.m.Y', (int)$val['created'])?></td>
                <td class="align-center"><?=date('d.m.Y', (int)$val['updated'])?></td>
                <td>
                    <a href="<?=$self_module->controller_url?>/edit/p/<?=$val['id']?>" class="table-icon edit" title="Edit"></a>
                    <a href="#" class="table-icon archive" title="Archive"></a>
                    <a href="#" class="table-icon delete" title="Delete"></a>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php endif; ?>
</div>