<div class="full_w">
    <div class="h_title">Редактирование страниц</div>

<?php if( !empty($page_error) ): ?>
    <div class="n_error"><p><?=$page_error?></p></div>
<?php else: ?>
    
    <div>
        <form action="">
            <textarea id="page-content" name="form['content']"><?=$page_content?></textarea>
        </form>
    </div>
</div>
<script src="<?=$common_url?>/Js/tinymce/jquery.tinymce.js"></script>
<script type="text/javascript">
$(function(){
    $('#page-content').tinymce({
        script_url: '<?=$common_url?>/Js/tinymce/tiny_mce.js',
        plugins: "spellchecker,pagebreak,style,layer,table,advhr,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
        mode: "textareas",
        theme: "advanced",
        content_css: "<?=$self_module->url?>/pages/getthemecss",
        convert_urls: false,
        body_id: 'content',
        body_class: 'content',

        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        
        theme_advanced_buttons1: "newdocument,|cut,copy,paste,pastetext,pasteword,|,search,replace,undo,redo,|,tablecontrols,|,cleanup,code,preview",
        theme_advanced_buttons2: "bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,|,forecolor,backcolor",
        theme_advanced_buttons3: "hr,removeformat,|,insertdate,inserttime,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,anchor,image,code,charmap",
        theme_advanced_buttons4: "",

        external_image_list_url: "<?=$self_module->url?>/pages/getimages",
//        external_link_list_url : "{$self_module->action_url}/pages/getlinks",
//        media_external_list_url : "lists/media_list.js",
        
        scrollbars: "yes",
        language: "ru",
        width: "99%",
        height: "450"
        
    });
});
</script>

<?php endif; ?>