<div class="full_w">
    <div class="h_title">Upload files</div>
    <p>

    </p>
    
    <div class="entry">
        <div class="sep"></div>
    </div>
    
    <div style="width: 96%; margin: 0 auto;">
        <div id="uploader">
            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
    </div>

    <script src="<?=$common_url?>/Js/plupload/plupload.full.min.js"></script>
    <script src="<?=$common_url?>/Js/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>
    <script src="<?=$common_url?>/Js/plupload/i18n/ru.js"></script>
    
    <script type="text/javascript">
        $('#uploader').plupload({
            url: '<?=$self_module->url?>/uploads/upload',
            filters: [
                {title: "Image files", extensions: "jpg,gif,png,jpeg"}
            ],
            multi_selection: true,
            rename: true,
            sortable: true,
            flash_swf_url: '<?=$common_url?>/Js/plupload/Moxie.swf',
            silverlight_xap_url: '<?=$common_url?>/Js/plupload/Moxie.xap',
            
            init: {
                UploadComplete: function(up, files) {
                    console.log('UploadComplete: ', files);
                },
                
                Error: function(up, args) {
//                    $('#' + args.file.id).attr('class', 'plupload_failed').find('a').css('display', 'block').attr('title', ErrorObj.message);
//                    up.trigger("Error", {
//                        message : args.response, 
//                        code: args.status, 
//                        file: args.file
//                    });
                    
                    console.log('Error: ', args);
                }
            }
        });
    </script>
    
    
</div>