<div class="feedback-form">
    <?php if( !empty($send_error) ): ?>
    <div style="font-weight: bold; color: red; margin: 0 auto; cursor: pointer;" onclick="$(this).remove()"><?=sb_ucfirst( $I18n->mail_send_error )?></div>
    <?php endif; ?>
    <form action="<?=$Form->action?>" id="feedback-real-form" action="post" accept-charset="UTF-8">
        <input type="hidden" name="confirm" value="ok" />
        
        <fieldset style="border: 0;">
        
            <div>
                <?php if($Form->fields->name->message): ?>
                <label style="color: red;" title="<?=$Form->fields->name->message?>"><?=sb_ucfirst($I18n->name)?>:</label>
                <?php else: ?>
                <label><?=sb_ucfirst($I18n->name)?>:</label>
                <?php endif; ?>
                <input type="text" name="form[name]" placeholder="<?=sb_ucfirst($I18n->your_name)?>" value="<?=$Form->fields->name->value?>" maxlength="<?=$Form->fields->name->maxlength?>" tabindex="1" />
            </div>

            <div>
                <?php if($Form->fields->email->message): ?>
                <label style="color: red;" title="<?=$Form->fields->email->message?>">E-Mail:</label>
                <?php else: ?>
                <label>E-Mail:</label>
                <?php endif; ?>
                <input type="text" name="form[email]" placeholder="<?=sb_ucfirst($I18n->your)?>@e-mail" value="<?=$Form->fields->email->value?>" maxlength="<?=$Form->fields->email->maxlength?>" tabindex="2" />
            </div>

            <div>
                <label><?=sb_plugin('Captcha')?></label>
                <input type="text" name="form[captcha]" value="" maxlength="<?=$Form->fields->captcha->maxlength?>" tabindex="3" />
            </div>

            <div class="clearfix"></div>
            
            <div>
                <textarea name="form[message]" placeholder="<?=sb_ucfirst($I18n->message)?>" tabindex="4" cols="20" rows="10" style="float: none; width: 98%;"><?=$Form->fields->message->value?></textarea>
            </div>
            
        </fieldset>
        <div class="clearfix"></div>
    </form>
</div>

