<div class="feddback-form">
    <?php if( !empty($send_error) ): ?>
    <div style="font-weight: bold; color: red; margin: 0 auto; cursor: pointer;" onclick="$(this).remove()"><?=sb_ucfirst( $I18n->mail_send_error )?></div>
    <?php endif; ?>
    <form action="<?=$Form->action?>" id="<?=$Form->id?>" action="post" accept-charset="UTF-8">
        <input type="hidden" name="confirm" value="ok" />
        
        <fieldset style="border: 0;">
        
            <div class="clearfix"></div>
            
            <div>
                <textarea name="form[message]" placeholder="<?=sb_ucfirst($I18n->message)?>" tabindex="4" cols="20" rows="10" style="float: none; width: 98%;" maxlength="<?=$Form->fields->name->maxlength?>"><?=$Form->fields->message->value?></textarea>
            </div>
            
        </fieldset>

        <button class="form-button" id="feedback-button-submit" style="float: right; margin-right: 9px;" type="button"><?=sb_ucfirst($I18n->send)?></button>
        <div class="clearfix"></div>
    </form>
</div>
<script type="text/javascript">
if( typeof(jQuery) != 'undefined'  ) {
    $('#feedback-button-submit')
        .button()
        .click( function(){
            $sb.request('<?=$Form->action?>', '#feedback-form-block', $('#<?=$Form->id?>').serialize());
        });
}
</script>
