<script type="text/javascript">
    var reloadCaptcha = function() { 
        var now = new Date(); 
        document.getElementById('captcha_image').src = '<?=$self_plugin->action?>/show/1/time/'+now.getTime();
    }
</script>
<div class="plugin-captcha" style="margin-top: -5px;">
    <img src="<?=$self_plugin->action?>/show/1" style="width: 83px; height: 28px; border: 0; margin: 0;" id="captcha_image" />&nbsp;&nbsp;<img src="<?=$self_plugin->url?>/Images/refresh.png" style="width: 16px; height: 16px; border: 0; cursor: pointer; margin-right: 5px; padding-bottom: 7px;" onclick="reloadCaptcha();" title="Refresh" />
</div>