<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
    <head>
        <title>Admin Control Panel<?=((!empty($page_title)) ? (' &raquo; ' . $page_title) : '')?></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="author" content="Тищенко Александр" />
        <meta name="copyright" content="Copyright &copy; 2014 by Alexander Tishchenko" />

        <link rel="stylesheet" type="text/css" href="<?=$css_url?>/style.css" media="screen">
        <link rel="stylesheet" type="text/css" href="<?=$css_url?>/navi.css" media="screen">

        <script type="text/javascript" src="<?=$common_url?>/Js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="<?=$common_url?>/Js/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="<?=$base_url?>/plugins/common.js"></script>
        
        <link href="<?=$common_url?>/Js/jquery-ui/jquery-ui.css" rel="stylesheet" />
        <link href="<?=$common_url?>/Css/jquery-ui-custom.css" rel="stylesheet" />
        
<script type="text/javascript">
$(function(){
	$(".box .h_title").not(this).next("ul").hide("normal");
	$(".box .h_title").not(this).next("#home").show("normal");
	$(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
});
</script>

</head>

<body>
<div class="wrap">
	<div id="header">
		<div id="top">
			<div class="left">
				<p><?=sb_ucfirst($I18n->welcome)?>, <strong><?=$auth_user['nicname']?></strong> [ <a href="<?=$base_url?>/logout<?=$url_suffix?>">logout</a> ]</p>
			</div>
			<div class="right">
				<div class="align-right">
					<p>Last login: <strong><?=date('d.m.Y / H:i:s', $auth_user['timestamp'])?></strong></p>
				</div>
			</div>
		</div>
		<div id="nav">
			<ul style="float: right;">
				<li class="upp"><a href="#">Main control</a>
					<ul>
						<li>› <a href="">Visit site</a></li>
						<li>› <a href="">Reports</a></li>
						<li>› <a href="">Add new page</a></li>
						<li>› <a href="">Site config</a></li>
					</ul>
				</li>
				<li class="upp"><a href="#">Manage content</a>
					<ul>
						<li>› <a href="">Show all pages</a></li>
						<li>› <a href="">Add new page</a></li>
						<li>› <a href="">Add new gallery</a></li>
						<li>› <a href="">Categories</a></li>
					</ul>
				</li>
				<li class="upp"><a href="#">Users</a>
					<ul>
						<li>› <a href="">Show all uses</a></li>
						<li>› <a href="">Add new user</a></li>
						<li>› <a href="">Lock users</a></li>
					</ul>
				</li>
				<li class="upp"><a href="#">Settings</a>
					<ul>
						<li>› <a href="">Site configuration</a></li>
						<li>› <a href="">Contact Form</a></li>
					</ul>
				</li>
			</ul>
		</div>
        <div class="clearfix"></div>
	</div>
	
	<div id="content">
    
		<div id="sidebar">
			<div class="box">
				<div class="h_title">&raquo; Управление контентом</div>
				<ul style="display: block;" id="home">
					<li class="b1"><a class="icon view_page" href="<?=$base_url?>/acp/pages<?=$url_suffix?>">Страницы</a></li>
					<li class="b1"><a class="icon add_page" href="<?=$base_url?>/acp/pages/new<?=$url_suffix?>">Добавить новую</a></li>
				</ul>
			</div>
			
			<div class="box">
				<div class="h_title">&raquo; Пользователи</div>
				<ul style="display: none;">
					<li class="b1"><a class="icon users" href="">Show all users</a></li>
					<li class="b2"><a class="icon add_user" href="">Add new user</a></li>
					<li class="b1"><a class="icon block_users" href="">Lock users</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&raquo; Настройки</div>
				<ul style="display: none;">
					<li class="b1"><a class="icon config" href="">Site configuration</a></li>
					<li class="b2"><a class="icon contact" href="">Contact Form</a></li>
				</ul>
			</div>
		</div>
        
		<div id="main">
        <?=$content?>
		</div>
		<div class="clear"></div>
	</div>

	<div id="footer">
		<div class="left">
			<p>&copy; 2013-2014 Тищенко Александр</p>
		</div>
		<div class="right">
			<p><!-- DEBUG-INFO --></p>
		</div>
	</div>
</div>
<script type="text/javascript">
function footerToBottom() {
    var browserHeight = $(window).height();
    var Height        = $('#header').outerHeight(true) + $('#footer').outerHeight(true);
    var contentHeight = $('#content').outerHeight(true) - $('#content').height() + 3;;
    
    console.log(contentHeight);
         
    $('#content').css({
        'min-height': browserHeight - Height - contentHeight
    });
};
     
$(function(){ footerToBottom();});
$(window).resize(function () {
    footerToBottom();
});
</script>
</body></html>