<script type="text/javascript">
var feedback_dialog = function() {
    $sb.remove('#feedback-dialog');
    $('body').append('<div id="feedback-dialog" style="display: none;"></div>');
    $('#feedback-dialog').dialog({
        close: function(){ $('#feedback-dialog').remove(); },
        modal: true,
        resizable: false,
        title: "Форма обратной связи",
        width: 400,
        height: 545,
        buttons: {
            'Отмена': function() { $(this).dialog("close");},
            'Отправить': function() {
                var form_data = $('#feedback-real-form').serialize();
                
                jQuery.ajax({
                    type: 'POST',
                    url: '/index/feedback/default',
                    data: form_data,
                    dataType: 'html',
                    success: function(data) {
                        if( data == 'success' ) {
                            $('#feedback-dialog').dialog("close");
                            $sb.message('Благодарим Вас за интерес к нашему делу.<br />В скором времение наш иенеджер свяжется с Вами.', 'Ваше сообщение отправлено!');
                        } else if( data == 'fail' ) {
                            $('#feedback-dialog').dialog("close");
                        } else {                            
                            $('#feedback-dialog').html(data);
                        }
                    }
                });
            }
        },
        open: function(event, ui) {
            jQuery.ajax({
                type: 'POST',
                url: '/index/feedback/default',
                data: {'timer': $sb.pre.stamp()},
                dataType: 'html',
                success: function(data) {
                    $('#feedback-dialog').html(data);
                }
            });
        }
    });
}
</script>