    <p>
        <strong>
            Ваше сообщение отправлено!
        </strong>
        <br /><br />
        Благодарим Вас за интерес к нашему делу.<br />
        В скором времение наш иенеджер свяжется с Вами.
    </p>
