    <h2 class="header">&lt;?='Second-Breath PHP5 framework'?&gt;</h2>
    <p> 
        Second-Breath это:
        <ul>
            <li><a>сравнительно небольшой,</a></li>
            <li><a>достаточно быстрый,</a></li>
            <li><a>с открытым кодом,</a></li>
            <li><a>объектно-ориентированный,</a></li>
            <li><a>использующий пространство имен,</a></li>
        </ul>
        
        HMVC framework для использования на PHP 5.3 или выше.<br />
        Распространяется на условиях "Как есть".
    </p>
    <p>
        Second-Breath PHP5 framework может быть использован для:
        <ul>
            <li><a>бесплатных веб-приложений;</a></li>
            <li><a>коммерческих сайтов;</a></li>
            <li><a>персональных проектов;</a></li>
        </ul>
    </p>
    <p>&nbsp;</p>
    <p>
        <div style="margin: 0 auto; width: 310px;">
            <script type="text/javascript">(function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
              }})();</script>
            <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=02" data-services="vkontakte,odnoklassniki,facebook,twitter,google,email,print" data-url="http://second-breath.alex-tisch.ru/" data-description="HMVC framework для использования на PHP 5.3 или выше. Распространяется на условиях &quot;Как есть&quot;." data-title="Second-Breath PHP5 framework"></div>    
        </div>
    </p>
    <p>&nbsp;</p>
    
    <h2 class="header">&lt;?='История создания'?&gt;</h2>
    <p>
     &nbsp;&nbsp;&nbsp;Всё началось с маленького безобидного эксперимента по созданию простенького микро-фреймворка для небольших проектов используя PHP 5.3+... что-то вроде 
     <a href="http://www.slimframework.com/" target="_blank">Slim PHP micro framework</a> или <a href="http://flightphp.com/" target="_blank">Flight micro-framework for PHP</a>.
     В итоге через месяц родилась идея создания небольшого полноценного <a href="http://ru.wikipedia.org/wiki/HMVC" target="_blank">HMVC</a> мини-фреймворка для быстрого написания небольших и средних проектов.
     Ещё через месяц родился самодостаточный фреймворк для проектов любой сложности.
     Ввиду того, что это уже мой 2й фреймворк, этот был назван "Второе дыханье".
    </p>
    <p>
     &nbsp;&nbsp;&nbsp;В итоге я получил не плохой PHP фреймворк с ядром, которое может располагаться где угодно на сервере и использоваться сразу несколькими проектами:<br />
     <i>- "Одно ядро и несколько приложений";</i><br />
     &nbsp;&nbsp;&nbsp;Знаю многие скажут, что это далеко не лучшая идея и подобный подход не допустим для серьёзных веб-студий... Мол если появится ошибка/уязвимость в ядре, то это повлияет на все проекты...<br />
     &nbsp;&nbsp;&nbsp;Я приведу другой пример... Вы используете один фреймворк и пихаете его в каждый свой проект (как я часто это видел в веб-приложениях на Kohana или CodeIgniter), но вот незадача... вдруг, совершенно случайно, 
     обнаружилась критическая ошибка... и вы начинаете переливать файлик/файлики во все... скажем 30 сайтов клиентов...<br />
     &nbsp;&nbsp;&nbsp;Я решил подобную проблему по своему. Одно ядро, несколько сайтов клиентов на одном сервере. На мой взгляд это практичней и удобней... и где то безопасней.
    </p>

    <h2 class="header">&lt;?='Структура'?&gt;</h2>
    <p>
        &nbsp;&nbsp;&nbsp;Я постарался придержаться, на мой взгляд удобной и практичной <a href="http://ru.wikipedia.org/wiki/HMVC" target="_blank">HMVC</a> структуры, т.к. я и мои знакомые привыкли к подобному подходу представления приложений. 
        К тому же структура <a href="http://ru.wikipedia.org/wiki/HMVC" target="_blank">HMVC</a> делает веб-приложения достаточно гибкими и масштабируемыми.<br />
        &nbsp;&nbsp;&nbsp;Что касается внутренней структуры фреймворка, то тут я пошел по самому простому пути... "Неймспейсы повторяют структуру директорий".<br /><br />
        То есть:<br />
        <i style="color: teal;">Namespace Application\Modules\Index\Controllers</i><br />
        Равнозначно пути:<br />
        <i style="color: teal;">DOCUMENT_ROOT . '/Application/Modules/Index/Controllers'</i><br /><br />
        А класс:<br />
        <i style="color: teal;">$myClass = new \Application\Library\<u>myClass</u>();</i><br />
        Будет расположен в файле:<br />
        <i style="color: teal;">DOCUMENT_ROOT . '/Application/Library/<u>myClass</u>.php'</i><br />
        С именем класса внутри:<br />
        <i style="color: teal;">
        &lt;?php<br /> 
        namespace Application\Library;<br />
        <br />
        class <u>myClass</u><br />
        {<br /> 
        <br />
        }<br /><br />
        </i>
        Вы всегда знаете где находится класс и подгружать предварительно ничего не надо... этим занимается "автолоадер" и как следствие "Загружаем только то, что используем".
    </p>
    <p>
        Общение посетителя с вашим сайтом происходит с помощью REST запросов...<br />То есть:<br />
        <i style="color: teal; font-size: 8pt;">http://mysite.com/модуль/контроллер/метод/id/103/page/2.html</i><br /><br />
        Если мы просто обращаемся к сайту http://mysite.com без указания модуля, то будут выполнены "дефолтовые" значения:<br />
        <i style="color: teal; font-size: 8pt;">http://mysite.com/ = http://mysite.com/index/index/default</i><br /><br />
        И по аналогии если не указать контроллер или метод.
    </p>
    <p>
        Всё это делает мой фпеймворк достаточно читаемым для стороннего программиста. Любой, кто будет смотреть и править код, будет понимать, что и где находится.
    </p>
    
    <h2 class="header">&lt;?='Форматирование кода'?&gt;</h2>
    <p>
        &nbsp;&nbsp;&nbsp;Весь код отформатирован по стандарту PSR-2. Естественно у меня есть привычки, которые так въелись, 
        что искоренить их уже практически не возможно. Ввиду этого факта в коде имеются некоторые уходы от стандарта PSR-2... 
        за что и прошу простить меня :)
    </p>
        
    <h2 class="header">&lt;?='Разработка'?&gt;</h2>
    <p>
        &nbsp;&nbsp;&nbsp;В данный момент ядро находится на стадии "Бета" и продолжает дорабатываться. Я готов поделится им для заинтересованных лиц.<br /><br />
        Сам проект находится на <a href="https://bitbucket.org/cruide/second-breath" target="_blank">Bitbucket.org</a><br />
        GIT ссылка: https://bitbucket.org/cruide/second-breath.git<br /><br />
        Фреймворк распространяется "как есть".
    </p>

    <h2 class="header">&lt;?='Документация'?&gt;</h2>
    <p>
        &nbsp;&nbsp;&nbsp;Как таковой документации нет, но я работаю над этим. Так же стараюсь делать описание функций, методов и классов. Конечно то, что есть трудно назвать документированным кодом... но это пока всё, что есть в данный момент.<br />
        &nbsp;&nbsp;&nbsp;Если же моё "произведение" будет востребованным, то я займусь созданием более подробной документации.
    </p>
    <p>&nbsp;</p>

    <h2 class="header">&lt;?='Контакты'?&gt;</h2>
    <p>
        Для связи со мной Вы можете воспользоваться <a style="cursor: pointer; color: blue;" onclick="feedback_dialog()">формой обратной связи</a>
    </p>
    <p>&nbsp;</p>
    
    <p>
        <div style="width: 110px; margin: 0 auto;">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="9NLMTUZLZWW5N" />
                <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!" style="width: 100px; height: 40px;" />
                <img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </p>
    
<script type="text/javascript">
var feedback_dialog = function() {
    $('#feedback-dialog').remove();
    $('body').append('<div id="feedback-dialog" style="display: none;"></div>');
    $('#feedback-dialog').dialog({
        close: function(){ $('#feedback-dialog').remove(); },
        modal: true,
        resizable: false,
        title: "Форма обратной связи",
        width: 400,
        height: 335,
        buttons: {
            'Отмена': function() { $(this).dialog("close");},
            'Отправить': function() {
                var form_data = $('#feedback-real-form').serialize();
                
                jQuery.ajax({
                    type: 'POST',
                    url: '/index/feedback/default',
                    data: form_data,
                    dataType: 'html',
                    success: function(data) {
                        if( data == 'success' ) {
                            $('#feedback-dialog').dialog("close");
                            $sb.message('Благодарю Вас за интерес к моему проекту.<br />В скором времение я свяжусь с Вами.', 'Ваше сообщение отправлено!');
                        } else if( data == 'fail' ) {
                            $('#feedback-dialog').dialog("close");
                        } else {                            
                            $('#feedback-dialog').html(data);
                        }
                    }
                });
            }
        },
        open: function(event, ui) {
            jQuery.ajax({
                type: 'POST',
                url: '/index/feedback/default',
                data: {'timer': $sb.pre.stamp()},
                dataType: 'html',
                success: function(data) {
                    $('#feedback-dialog').html(data);
                }
            });
        }
    });
}
</script>   