.feedback-form {
  font-size: 8pt;
  border: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.feedback-form form {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.feedback-form form fieldset {
  padding: 10px;
  border: 0;
}
.feedback-form form fieldset legend {
  font-weight: bold;
  padding: 0 4px 0 4px;
  font-size: 10pt;
}
.feedback-form form fieldset div {
  width: 100%;
  margin: 0;
}
.feedback-form form fieldset div label {
  width: 45%;
  float: left;
  height: 17px;
  margin: 7px 0 4px 0;
}
.feedback-form form fieldset div label select {
  margin: -3px 0 0;
  width: 100%;
}
.feedback-form form fieldset div input,
.feedback-form form fieldset div textarea,
.feedback-form form fieldset div select {
  font-size: 8pt;
  width: 50%;
  float: right;
  height: 17px;
  margin: 4px 0 4px 0;
  border: 1px solid #dddddd;
  padding: 2px 3px;
}
.feedback-form form fieldset div input:hover,
.feedback-form form fieldset div input:focus,
.feedback-form form fieldset div textarea:hover,
.feedback-form form fieldset div textarea:focus,
.feedback-form form fieldset div select:hover,
.feedback-form form fieldset div select:focus {
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px #999999;
  -moz-box-shadow: 1px 1px 2px #999999;
  box-shadow: 1px 1px 2px #999999;
}
.feedback-form form fieldset div select {
  height: 24px;
  width: 52%;
}
.feedback-form form fieldset div textarea {
  min-height: 80px;
  resize: none;
}
.feedback-form form fieldset div input[type="checkbox"],
.feedback-form form fieldset div input[type="radio"] {
  width: 20px;
}
.feedback-form form fieldset p {
  margin: 4px 0;
}
.feedback-form form p {
  margin: 0px;
}
.feedback-form form div {
  display: inline-block;
  width: 100%;
  margin-top: 6px;
}
.form-button {
  display: block;
  min-width: 100px;
  margin-left: 15px;
}
input,
textarea,
select {
  height: 17px;
  margin: 4px 0 4px 0;
  border: 1px solid #dddddd;
  padding: 2px 3px;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px #999999;
  -moz-box-shadow: 1px 1px 2px #999999;
  box-shadow: 1px 1px 2px #999999;
}
select {
  height: 24px;
  width: 52%;
}
textarea {
  min-height: 56px;
  resize: none;
}
