body {
    background-color: #39414A; 
    margin: 0;
    padding: 0;
}

.content {
    width: 520px; 
    text-align: justify; 
    margin: 0 auto; 
    border-left: 1px solid #5E5945;
    border-right: 1px solid #5E5945;
    padding: 10px;
    background-color: #FAF6F6;
    box-shadow: 3px 3px 39px -3px #000000;
    font-size: 10pt;
    font-family: Tahoma, Arial;
}

.header {
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.footer {
    margin: 0 auto; 
    width: 270px; 
    padding: 0; 
    padding-top: 10px;
}

.footer table {
    width: 270px; 
    margin: 0 auto; 
    padding: 0; 
    border-collapse: collapse;
}

.footer table tr td {
    width: 90px; 
    padding: 0;
}
